body {
  background:#164987;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #fff;
}

.quizzdiv {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question {
  margin-bottom: 20px;
  text-align: center;
}

.question p {
  font-weight: bold;
  color: #000000;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="radio"]:hover {
  cursor: pointer;
}

.submit-button {
  background: #4286f4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover {
  background: #4286f4;
  transition: 1s;
  transform: translateY(20%);
}

