body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.container {
    text-align: center;
}

.header {
    padding: 20px;
    color: #164987;
}

div.header h1.title {
    font-size: 50px;
    font-weight: 500;
    background: linear-gradient(to bottom right, #ffffff, #6c707a);
    border: 3px solid #164987;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}


div.content {
    margin-top: 20px;
    padding:20px;
    width: 1000px; /* Largeur du rectangle */
    height: 900px; /* Hauteur du rectangle */
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    border: 5px solid #164987;
    border-radius: 50px;
    background: whitesmoke;
    font-family:Lato, Arial, Helvetica, sans-serif;
    color: #164987;
    font-size: 25px;

  }

  div.content form {
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;

  }



div.content p#titlegame {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid #164987;
  border-radius: 10px;
  font-size: 50px;
  padding: 10px;
  color: whitesmoke;
}
div.content div.game-title {
    position: absolute ;
    font-size: 38px;
    font-family:Lato, Arial, Helvetica, sans-serif; 
    font:400;
    color:#164987;
}
.user-data {
    margin-top: 10px;
    text-align: right;
}

.user-info {

    padding: 10px;
 
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
   
}

.username {
    font-weight: bold;
}

.email {
    color: #555555;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  text-align: justify;
 
}

.no-bullets li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.no-bullets li input[type="checkbox"] {
  margin-right: 10px;
}

.no-bullets li label {
  max-width: 90%;
  overflow-wrap: break-word;
}


nav.navigation {
    background: #164987;

    padding: 20px 0;
    border-bottom: 1px solid #164987;
    border-radius: 0px;
    border-width: 50%;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 10px;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
     background: #8d9092;
    border-radius: 5px;
}

.navigation a:hover {
     background: #6d7175; 
}

      
.btn-continuer:hover {
        background: #4286f4;
        transition: 1s;
        transform: translateY(20%);
      }
      
.btn-continuer {
        background: #164987;
        color:  #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        font-family: Lato, Arial, Helvetica, sans-serif;
        position: absolute;
        display: inline-flex;
        bottom: 10%;
        left: 45%;
     
        transition: 1s;
        
      }
      .btn-restart:hover {
        background: #4286f4;
        transition: 1s;
        transform: translateY(20%);
      }
    .btn-restart
    {
      background: #164987;
      color:  #ffffff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: bold;
      font-size: 20px;
      font-family: Lato, Arial, Helvetica, sans-serif;
      position: absolute;
      display: inline-flex;
      bottom: 10%;
      left: 60%;
      transition: 1s;
    }
      .progress-bar {
        
        width: 200px; /* Longueur de 100 pixels */
        height: 20px;
        background: linear-gradient(to right, #4caf50, #eb4343);
        border-radius: 10px; /* Valeur de bordure personnalisée */
        margin: 0 auto; /* Centrer horizontalement */
        display: flex;
        flex-direction: row-reverse; /* Inverser l'ordre d'affichage des éléments enfants */
        overflow: hidden; /* Cacher le contenu qui dépasse */
        position: relative; /* Position relative pour les pseudo-éléments */
    }
    
    .progress {
        
        width: 0%;
        height: 100%;
        background: #000000;
        border-radius: 0 10px 10px 0; /* Arrondi seulement sur le côté droit */
        transition: width 0.3s ease-in-out;
        position: relative; /* Position relative pour les pseudo-éléments */
    }
    



.choix_scenario {
  list-style-type: none;
  margin: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.choix_scenario li {
  display: flex;
  font-size: 25px;
  align-items: center;
  margin-bottom: 5px;
  border: 3px solid #164987;
  border-radius: 5px;
  background-color: #164987;
  width: 50%;
  color:whitesmoke;
  margin-left: 20px;
  transition: 1s;

}

.choix_scenario li input[type="checkbox"] {
  margin-right: 10px;
  
}
.choix_scenario li:hover{
  background-color: #424b55;
  transition: 1s;
  transform: translateY(30%);
  transform: scale(1.1);
}
.choix_scenario li label {
  max-width: 90%;
  overflow-wrap: break-word;
}

label[for="MOA"],
label[for="MOE"],
label[for="PRINCE2"] {
  margin-left: 20px; /* Ajustez la valeur pour modifier l'espace */
}

textarea#retour
{
  resize: none;
  border: 5px solid black;
  position: relative;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #164987;
  height: 300px;
  width: 95%;
}
